@import "./variables/variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./components/buttons";

/* Global */
body {
  background-color: #14063d;
}

html,
body {
  height: 100%;
  line-height: 1;
}

html {
  box-sizing: border-box;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  z-index: 2000;
}
.navbar {
  position: relative;
  z-index: 1051;
}

.main {
  flex: 1 1 auto;
  position: relative;
}

.main,
.footer {
  color: white;
}

/* Dekor */

.elipse-content {
  position: absolute;
  width: 100%;
}

.elipse-left_item,
.elipse-right_item {
  position: absolute;
}

.elipse-left_item {
  top: 300px;
  left: -100px;
  width: 600px;
  height: 600px;
  border-radius: 600px;
  background: #800bf5;
  filter: blur(200px);
  z-index: -1;
}

.elipse-right_item {
  top: 20px;
  right: -200px;
  width: 610px;
  height: 610px;
  border-radius: 610px;
  background: #04c3ff;
  filter: blur(300px);
  z-index: -2;
}
/* Background Hero */
.background-hero{
  position: absolute;
  top: 50px;
  right: -50px;
  width: 80%;
  z-index: 0;
}
.ghost-blue {
  position: absolute;
  top: 10px;
  right: -20px;
  z-index: 0;
}
.ghost-yellow {
  position: absolute;
  top: 120px;
  left: -10px;
  z-index: 0;
}

/* Form */
.card-form {
  border-radius: 59px;
  background: radial-gradient(
    151.92% 127.02% at 15.32% 21.04%,
    rgba(179, 121, 223, 0.2) 0%,
    rgba(204, 88, 84, 0.02) 77.08%,
    rgba(179, 121, 223, 0.2) 100%
  );
  backdrop-filter: blur(4px);
}
.form-control,
.form-control::placeholder {
  background-color: rgba(255, 255, 255, 0.089);
  color: #a4a4a4;
  border-color: var(--border);
}
/* Font */
h1 {
  color: #efefef;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.list-item,
.side-nav {
  color: #a4a4a4;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
  &:hover {
    color: #efefef;
  }
}
h3 {
  color: #efefef;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
label,
h4 {
  color: #a4a4a4;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
nav {
  font-family: 'PT Sans', sans-serif;
}
/* Button */
.btn-primary {
  border-radius: 56px;
  background: var(--gradient, linear-gradient(90deg, #800bf5 0%, #25c6f9 100%));
  display: inline-flex;
  padding: 10px 40px 11px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  color: white;
  &:hover {
    background: none;
  }
}
.btn-light {
  background: rgba(255, 255, 255, 0.089);
  border-color: var(--border);
  &:hover {
    background: #800bf5;
  }
}

.btn-secondary {
  background: linear-gradient(99deg, #9C3FE4 0%, #C65647 100%);
  &:hover {
    background: #C65647;
  }
}
.active {
  color: white;
}
/* Side Bar */
.list-group-item {
  border: none;
  background: none;
}
/* Carusel */

.story-carousel-container {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.carousel-inner {
  height: 100%;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
  width: 25%;
  height: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
  border: solid 1px white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.carousel-control-prev-icon {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.carousel-control-next-icon {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


/* Footer */
.footer {
  position: relative;
  background-color: #14063d;
}

.scrollable-content {
  
  height: calc(88.7vh);
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 10px;
  }
  
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd48;
    border-radius: 10px;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #00c6fb, #005bea);
  }
}
